*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

    @include respond(big-desktop) {
        font-size: 76%; 
    }
    @include respond(tab-land) {
        font-size: 56.25%;
    }
    @include respond(tab-port) {
        font-size: 50%;
    }  
}

body {
    box-sizing: border-box;
    background: $color-grey-primary-light;
}

section {
    padding: $space-xl*2 0;

    &.about {
        padding: $space-xl*2 0 0 0;
    }
}

.link {
    &,
    &:link,
    &:visited {
        text-decoration: none;
        color: $color-grey-primary-dark;
        font-weight: 700;
    }

    &:hover {
        border-bottom: 2px solid $color-pink-light;
    }
}
