@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin shadow($vertical-length: 1rem) {
    box-shadow: 0 $vertical-length 2rem rgba($color-primary, .2);
}

@mixin container-main($width: 75%) {
    width: $width;
    max-width: 1100px;
    margin: 0 auto;
}

/* MEDIA QUERY MENAGER 

0- 600ph - Phone 
600- 997px - Tablet portrait
997-1200px - Tablet landscape
1200-1800 - Our size
1800px + - Big desktop

$breakpoint:
- phone
- tab-port
- tab-land
- big-desktop

*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 46em) { @content; }
    }

    @if $breakpoint == tab-port {
        @media (max-width: 62em) { @content; }
    }

    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content;}
    }

    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) {@content; }
    }
}
