.about {
    height: 100%;

    &__container {
        @include container-main;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between; 
        flex-wrap: wrap;
        
        @include respond(tab-land) {
            @include container-main(80%);
        }
        @include respond(tab-port) {
            @include container-main(85%);
        }
        @include respond(phone) {
            @include container-main(90%);
            flex-direction: column-reverse;
        }
    }

    &__text-box {
        flex: 0 0 calc(49.5% - 1rem);
        background-color: $color-white;
        @include shadow;
        padding: $space-xl $space-xl $space-xl $space-xl+$space-l;
        overflow: hidden;
        
        @include respond(big-desktop) {
            padding: $space-l*2 $space-l*2 $space-l*2 $space-xl*2;
        }
        @include respond(tab-land) {
            padding: $space-xl $space-xl $space-xl $space-l*2;
        } 
        @include respond(tab-port) {
            padding: $space-l $space-l $space-l $space-l+$space-m;
        }

        .text {
            display: flex;
            flex-direction: column;
            padding-bottom: 2.4rem;
        }
    }

    &__img-box {
        flex: 0 0 calc(48.5% - 1rem);
        text-align: center;
        
        @include respond(phone) {
            margin: 0 0 $space-xl;
            width: 100%;
        }

        .about__img {
            width: 100%;
            height:auto; 
            @include shadow;
        }
    }
}
