.service {
    height: 100%;
    
    &__container {
        @include container-main;
        
        @include respond(tab-land) {
            @include container-main(80%);
        }
        @include respond(tab-port) {
            @include container-main(85%);
        }
        @include respond(phone) {
            @include container-main(90%);
        }
    }

    .cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin: $space-m auto 0; 

        @include respond(tab-port) {
            width: 100%;
            display: block;
        }

        @include respond(phone) {
            justify-content: center;
        }

        .card {
            min-width: 40rem;
            height: 8rem;
            display: flex;
            align-items: center;
            flex: 0 0 calc(49% - 1rem);
            padding: $space-m;
            margin-bottom: 3rem;
            @include shadow(0.5rem);
            background: $color-white;
            transition: all .5s ease;
    
            @include respond(tab-port) {
                padding: $space-s;
            }
    
            &:hover {
                @include shadow;
                background-color: $color-pink-light;
        
                & .fas {
                    color: $color-white;
                }
            }
            
            .fas {
                width: 6rem;
                text-align: center;
                font-size: $font-m*2;
                color: $color-pink-light;
            }

            &__text {
                font-size: $font-s; 
                padding-left: $space-s;
                letter-spacing: .1rem;
            } 
        }
    }
 }

    .section--divider {
        height: 35rem;
        background-image: url(../img/img_divider_small.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        margin-top: -$space-l;

        @include respond(big-desktop) { 
            background-image: url(../img/img_divider_large.jpg);
        }

        @include respond(phone) {
            background-image: url(../img/img_divider_phone.jpg);
            height: 25rem;
            width: 100%;
        }
    }
