.about {
    height: 100%;

    &__container {
        width: 75%;
        margin: 0 auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between; 
        align-items: center;
        flex-wrap: wrap;
        // overflow: hidden;
        
        @include respond(tab-land) {
            width: 80%;
        }
        @include respond(tab-port) {
            width: 85%;
        }
        @include respond(phone) {
            width: 90%;
            flex-direction: column-reverse;
        }
    }

    &__text-box {
        height: 100%;
        flex: 0 0 calc(49.5% - 1rem);
        background-color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-primary, .2);
        padding: 4.2rem;
        overflow: hidden;
        
        @include respond(tab-port) {
            padding: 2.4rem;
        }

        .text {
            display: flex;
            flex-direction: column;
            padding-bottom: 2.4rem;
        }
    }

    &__img-box {
        height: 100%;
        flex: 0 0 calc(48.5% - 1rem);
        box-shadow: 0 1rem 2rem rgba($color-primary, .2);
        overflow: hidden;
        text-align: center;
        background-color: $color-white;
        
        @include respond(big-desktop) {
            margin-bottom: 0;
        }
        @include respond(phone) {
            margin: 0 0 2rem;
            width: 100%;
        }

        .about__img {
            width: 100%;
            height: auto;
        }
    }
}
