.about {
    height: 100%;

    &__container {
        width: 75%;
        margin: 0 auto;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center; 
        flex-wrap: wrap;
        
        @include respond(tab-land) {
            width: 85%;
        }

        @include respond(tab-port) {
            width: 95%;
        }

        @include respond(phone) {
            flex-direction: column-reverse;
        }
    }

    &__text-box {
        flex: 0 0 calc(49.5% - 1rem);
        background-color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-primary, .2);
        padding: 4rem 4rem 4rem 11rem; 
          
        @include respond(tab-land) {
            flex: 0 0 calc(54% - 1rem);
            padding: 4rem 4rem 4rem 9rem;
        }
        
        @include respond(tab-port) {
            flex: 0 0 calc(54% - 1rem);
            padding: 2.8rem 2.8rem 2.8rem 6rem;
        }

        @include respond(phone) {
            width: 85vw;
            padding: 4rem;
        }

        .text {
            display: flex;
            flex-direction: column;
            padding-bottom: 2.4rem;
        }
    }

    &__img-box {
        flex: 0 0 calc(49.5% - 1rem);
        margin-right: -2rem;
        margin-bottom: -14rem;
        box-shadow: 0 1rem 2rem rgba($color-primary, .2);

        @include respond(tab-port) {
            flex: 0 0 calc(46% - 1rem);
            margin-bottom: -18rem;
        }

        @include respond(phone) {
            margin: 0 auto 2rem;
        }

        .img {
            width: 100%;
            
            @include respond(phone) {
                width: 85vw;
            }
        }
    }
}

