.contact {
    height: 100%;

    &__cities {
        width: 75%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto; 
    }

    &__city {
        min-height: 90rem;
        width: 48%;
        padding-top: 4rem;
        background-color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-primary, .2);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }

    &__city--tarnow, 
    &__city--krakow {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-self: center;
        height: 30rem;
        padding: 2rem;
        
        
        // align-self: center;

    }
}

.map {
    margin-top: 20rem;
    width: 100%;
}

.new--line {
    display: block;
    
}