.header {
    height: 100vh;
    position: relative;
    padding: 15rem 0 0 0;
    overflow: hidden;
    
    &__container {
        width: 95%;
        height: 90%;
        border: 3px solid $color-pink-light;
        padding: 0 5rem;
        margin: 0 auto;  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        overflow: hidden; 
    }

    &__text {
        width: 45%;
        margin-bottom: 3rem;
        flex-shrink: 1;
    }
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right top, rgba($color-white, 0.8), rgba($color-grey-primary-light, 0.4), rgba($color-primary, 0.5)),
          url(../img/img_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: contrast(150%) grayscale(100%) brightness(0.9);
    z-index: -100;   
}
