.nav {
    width: 100vw;
    position: fixed;
    z-index: $z-index-nav;
    background-color: $color-grey-primary-light;
    box-shadow: 0 .5rem 1rem rgba($color-primary, .2);
    padding: $space-s 4.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

         @include respond(tab-port) {
            border-bottom: 0.5rem solid $color-grey-primary-light;
         }

    
        &__list {
            height: auto;
            list-style-type: none;
            display: flex;

            @include respond(tab-port) {

                height: 0;
                overflow: hidden;
                display: block;
                margin: 0 auto;
                flex:  0 1 100%;
                text-align: center;
                transition: all 2s linear;  

                &--open {
                    height: auto;
                }
            }
        }

        &__link {
            &:link,
            &:visited {
                display: block;
                margin-left: $space-s+$space-xs;
                margin-right: $space-s+$space-xs;
                text-decoration: none;
                color: $color-grey-primary-dark;
                font-size: $font-s;
                font-weight: 500;
                letter-spacing: .2rem;
                text-transform: uppercase;
            }

            &:hover,
            &:active, 
            &--current {
                margin-bottom: -2.8px;
                border-bottom: 2.8px solid $color-pink-light;
                cursor: pointer;

                @include respond(tab-port) {
                    border-bottom: none;
                    color: $color-pink-light;
                    margin-bottom: 0px;
                }
            }
                @include respond(tab-port) {
                    padding: $space-s;
                }
        }
}

  .logo {
      display: flex;
      height: 4.6rem;
      padding: $space-xs 0; 
  }

// Hamburger

.hamburger {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
   
    @include respond(tab-port) {
        display: block;
        margin-left: auto;
    }

    &:focus {
        & > .hambruger__container {
            box-shadow: 0 0 2px 2px $color-grey-primary-dark;
        }
    }

    &__container {
        display: flex;
        align-items: center;
        position: relative;
        width: 35px;
        height: 30px;
    }

    &__bars {
        position: absolute;
        width: 35px;
        height: 2px;
        background-color: $color-grey-primary-dark;
        transition: transform .2s ease-in-out;
        &:before, &:after {
            display: block;
            position: absolute;
            width: 35px;
            height: 2px;
            background-color: $color-grey-primary-dark;
            content: '';
        }
        
        &:before {
            top: -12px;
            transition: top .1s .25s ease-in, transform .22s ease-in-out;
        }

        &:after {
            bottom: -12px;
            transition: bottom .1s .25s ease-in, transform .22s ease-in-out;
        }
    }

    &,
    &__container {
        &:focus {
            outline: none;
        }
    }
}

.hamburger--active {
    .hamburger__bars {
        transform: rotate(225deg);
        transition: transform .22s .12s ease-in-out;

        &:before {
            top: 0;
            transition: top .1s ease-out;
        }

        &:after {
            bottom: 0;
            transform: rotate(-90deg);
            transition: bottom .1s ease-out, transform .22s .12s ease-in-out
        }
    }
}
