.service {
        height: 100%;
    
    &__cards {
        width: 75%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 auto;
        align-items: center;
    }
    
}

// .service__cards {
//     height: 100%;
//     width: 70%;
//     margin: 0 7rem;
//     display: flex;
//     margin: 0 auto;
//     justify-content: space-between;
//     flex-wrap: wrap;
//     text-align: center;
// }

// .card {
//     height: 25rem;
//     padding: 1rem 1.6rem;
//     margin: 1.8rem auto;
//     background: $color-white;
//     flex: 0 0 calc(24% - 1rem);
//     box-shadow: 0 1rem 2rem rgba($color-primary, .2);
//     // border: 2px solid $color-pink-light;
    
    

//     &__text {
//         font-size: 1.6rem; 
//         padding: auto 1rem;
//         border-top: 2px solid $color-pink-light;
//         padding-top: 1.6rem; 
     
//     }
// }

// .fas {
//     font-size: 6rem;
//     color: $color-pink-light;
//     padding: 3rem 1.4rem 4rem 1.4rem;
// }



.card {
    min-width: 40rem;
    height: 8rem;
    display: flex;
    // border: 2px solid $color-white;
    flex: 0 0 calc(49% - 1rem);
    padding: 2rem;
    align-items: center;
    margin-bottom: 3rem;
    box-shadow: 0 0.1rem 1rem rgba($color-primary, .2);
    background: $color-white;
    transition: all .3s ease;

    &:hover {
        // transform: scale(1.02);
        box-shadow: 0 1rem 2rem rgba($color-primary, .2);
        

    }
      
    &__text {
        font-size: 1.8rem; 
        padding-left: 2rem;
    } 
    
}

.fas {
        width: 8rem;
        text-align: center;
        font-size: 4.2rem;
        color: $color-pink-light;       
}

.img_container {
    height: 35rem;
    background-image: linear-gradient(to right top, rgba($color-white, 0.8), rgba($color-grey-primary-light, 0.4), rgba($color-primary, 0.5)),
    url(../img/img_2.jpg);
    filter: contrast(150%) grayscale(100%) brightness(0.9);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
   
}