.service {
    height: 100%;
    
    &__container {
        width: 75%; 
        margin: 0 auto; 
        
        @include respond(tab-land) {
            width: 80%;
        }
        @include respond(tab-port) {
            width: 85%;
        }
        @include respond(phone) {
            width: 90%;
        }
    }

    .cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 auto;
        align-items: center;

        @include respond(tab-port) {
            width: 100%;
            display: block;
        }

        @include respond(phone) {
            justify-content: center;
        }

        .card {
            min-width: 40rem;
            height: 8rem;
            display: flex;
            align-items: center;
            flex: 0 0 calc(49% - 1rem);
            padding: 2rem;
            margin-bottom: 3rem;
            @include shadow(0.5rem);
            background: $color-white;
            transition: all .5s ease;
    
            @include respond(tab-port) {
                padding: 1rem;
            }
    
            &:hover {
                @include shadow;
                background-color: $color-pink-light;
        
                & .fas {
                    color: $color-white;
                }
            }
            
            .fas {
                width: 8rem;
                text-align: center;
                font-size: 4.2rem;
                color: $color-pink-light;
            }

            &__text {
                font-size: 1.8rem; 
                padding-left: 1rem;
                letter-spacing: .1rem;
            } 
        }
    }
 }

    .section--divider {
        height: 35rem;
        background-image: linear-gradient(to right top, rgba($color-white, 0.8), rgba($color-grey-primary-light, 0.4), rgba($color-primary, 0.5)),
        url(../img/img_divider_small.jpg);
        filter: contrast(150%) grayscale(100%) brightness(0.9);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        margin-top: -3rem;

        @include respond(big-desktop) {
            background-image: linear-gradient(to right top, rgba($color-white, 0.8), rgba($color-grey-primary-light, 0.4), rgba($color-primary, 0.5)),
        url(../img/img_divider_large.jpg);
        }

        @include respond(phone) {
            background-image: linear-gradient(to right top, rgba($color-white, 0.8), rgba($color-grey-primary-light, 0.4), rgba($color-primary, 0.5)),
        url(../img/img_divider_phone.jpg);
            height: 25rem;
            width: 100%;
        }
    }
