

.service {
        height: 100%;
    
    &__cards {
        width: 75%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 auto;
        align-items: center;

         @include respond(tab-land) {
             width: 85%;
         }

         @include respond(tab-port) {
             width: 100%;
             padding: 0 4rem 0 4rem;
         }

          @include respond(phone) {
              justify-content: center;
          }
    }
    
}

.card {
    min-width: 40rem;
    height: 8rem;
    display: flex;
    flex: 0 0 calc(49% - 1rem);
    padding: 2rem;
    align-items: center;
    margin-bottom: 3rem;
    box-shadow: 0 0.1rem 1rem rgba($color-primary, .2);
    background: $color-white;
    transition: all .5s ease;

    @include respond(tab-port) {
        padding: 1rem;
    }

    &:hover {
        box-shadow: 0 1rem 2rem rgba($color-primary, .2); 
        background-color: $color-pink-light;

        & .fas {
            color: $color-white;
        }
    }
      
    &__text {
        font-size: 1.8rem; 
        padding-left: 2rem;
    }     
}

.fas {
    width: 8rem;
    text-align: center;
    font-size: 4.2rem;
    color: $color-pink-light;
}

.img_container {
    height: 35rem;
    background-image: linear-gradient(to right top, rgba($color-white, 0.8), rgba($color-grey-primary-light, 0.4), rgba($color-primary, 0.5)),
    url(../img/img_2.jpg);
    filter: contrast(150%) grayscale(100%) brightness(0.9);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
   
}