.btn {
    &,
    &:link,
    &:visited {
        text-decoration: none;
        padding: .6rem 3rem;
        display: inline-block;
        font-size: 1.8rem;
        letter-spacing: 0.1rem;
        font-family: 'Lato',sans-serif;
        color: $color-grey-primary-dark;
        box-shadow:  0 .5rem .7rem rgba($color-primary, .2);
        transition: all .2s;        
        cursor: pointer;
    }

    &--cta {
        background-color: $color-pink-light;
    }

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 1rem 2rem rgba($color-primary, .2);
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-primary, .2);
    }
}
