.btn {
    &,
    &:link,
    &:visited {
        text-decoration: none;
        padding: .6rem 3rem;
        display: inline-block;
        letter-spacing: 0.1rem;
        font-family: $font-lato;
        color: $color-grey-primary-dark;
        transition: all .2s ease;        
        cursor: pointer;
    }

    &--cta {
        font-size: 1.6rem;
        background-color: $color-pink-light;
        box-shadow: 0 .5rem .4rem rgba($color-primary, .2);
        border: 2px solid $color-pink-light;
        margin-bottom: 1.2rem;

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 .8rem 2rem rgba($color-primary, .2);
        }

        &:active {
            transform: translateY(-1px);
            box-shadow: 0 .4rem 1rem rgba($color-primary, .2);
        }
    }

    &--small {
        font-size: 1.4rem;
        border: 1px solid $color-primary;
        background-color: $color-white;
        transition: all .2s ease;
        margin: 0 auto;
        
        &:hover {
            border: 1px solid $color-pink-light;
            background-color: $color-pink-light;
            
        }
    }
}
