*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

    @include respond(tab-land) {
        font-size: 56.25%; //1rem =9px 9px/16px=56.25%
    }

    @include respond(tab-port) {
        font-size: 50%;
    }

    @include respond(big-desktop) {
        font-size: 75%; 
    }
}

body {
    box-sizing: border-box;
    background: $color-grey-primary-light;
}

section {
    padding: 8rem 0;

    @include respond(phone) {
        padding: 6rem 0;
    }
}

.link {
    &,
    &:link,
    &:visited {
        text-decoration: none;
        color: $color-grey-primary-dark;
        font-weight: 700;
    }

    &:hover {
        border-bottom: 2px solid $color-pink-light;
    }
}



