body {
    font-family: $font-Frank;
    font-weight: $weight-regular;
    line-height: 1.7;
    color: $color-grey-primary-dark;
}

.heading-primary {
    color: $color-grey-primary-dark;
    text-transform: uppercase;
    padding-bottom: $space-m;

    &--main {
        font-size: $font-xs*5;
        letter-spacing: .5rem;
        display: block;
        line-height: 1.4;

        @include respond(phone) {
            letter-spacing: .1rem;
        }
    }

    &--sub {
        font-family: $font-lato;
        font-size: $font-xs*3;
        font-weight: $weight-regular;
        letter-spacing: .5rem;
        padding-bottom: $space-l;

        @include respond(phone) {
            letter-spacing: .1rem;
        }
    }
}

.heading-secondary::before {
    content: '';
    display: block;
    width: 8rem;
    height: 2px;
    background-color: $color-primary;
    margin: $space-xs auto; 
}

.heading-secondary{
    font-size: $font-xs*3;
    letter-spacing: .5rem;
    text-align: center;
    padding: 0 0 $space-m 0;
    
    &--about {
        display: inline-block;
    }
}

.heading-tertiary {
    font-size: $font-m;
    letter-spacing: .3rem;
    text-transform: uppercase;
    text-align: center;

    &--popup {
    padding: $space-s 0;
    font-size: $font-m;
    font-family: $font-lato;
    }   
}

.heading-fourth {
    font-weight: $weight-bold;
    font-family: $font-lato;
    font-size: $font-s;
    letter-spacing: .1rem;
    padding: $space-m 0 $space-m 0;
}

.new--line {
    font-size: $font-m;
    color: $color-primary;
}

.paragraph {
    font-family: $font-lato;
    font-size: $font-s;
    letter-spacing: .1rem;
    min-width: 22rem;

    @include respond(phone) {
        line-height: 1.4;
    }

    &--main::before {
        content: '';
        display: block;
        width: 10rem;
        height: 4px;
        background-color: $color-primary;
        margin-bottom: $space-m;
    }
    
    &--main {
        width: 45rem;
        padding-right: $space-m;
        
        @include respond(phone) {
            width: 95%;
            padding-right: 0;
        }
    }

    &--second {
        margin-bottom: $space-s;

        @include respond(tab-port) {
            margin-bottom: $space-m;
        }
    }

    &--footer {
        font-size: $font-s;
        font-family: $font-lato;
        letter-spacing: .1rem;  
    }
}

.card__text {
    font-family: $font-lato;
}
