body {
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-primary-dark;
}

.heading-primary {
    color: $color-grey-primary-dark;
    text-transform: uppercase;
    margin-bottom: 3rem;
    padding-bottom: 2rem;

    &--main {
        font-size: 5rem;
        letter-spacing: .5rem;
        display: block;
        line-height: 7rem;
    }

    &--sub {
        font-family: 'Lato', sans-serif;
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: .5rem;
        padding-bottom: 3rem;
        border-bottom: 4px solid $color-primary;
    }
}

.paragraph {
    font-family: 'Lato',sans-serif;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    line-height: 2.4rem;
}
