body {
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-primary-dark;
}

.heading-primary {
    color: $color-grey-primary-dark;
    text-transform: uppercase;
    padding-bottom: 2rem;

    &--main {
        font-size: 5rem;
        letter-spacing: .5rem;
        display: block;
        line-height: 7rem;
    }

    &--sub {
        font-family: 'Lato', sans-serif;
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: .5rem;
        padding-bottom: 3rem;
    }
}

.heading-secondary::before {
     content: '';
     display: block;
     width: 8rem;
     height: 2px;
     background-color: $color-primary;
     margin: 0 auto; 
 }

.heading-secondary{
    font-size: 3.6rem;
    letter-spacing: .5rem;
    
    &--about {
        display: inline-block;
    }
}

.heading-tertiary {
     font-size: 2.8rem;
     letter-spacing: .3rem;
     padding-bottom: 2rem;
     text-transform: uppercase;
}

.heading-fourth {
    font-weight: 700;
    margin-bottom: 4rem;
    font-family: 'Lato',sans-serif;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    
}

.new--line {
    font-size: 2.2rem;
    color: $color-primary;
}

.paragraph {
    font-family: 'Lato',sans-serif;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    line-height: 2rem;
    min-width: 25rem;

    &--main::before {
        content: '';
        display: block;
        width: 10rem;
        height: 4px;
        background-color: $color-primary;
        margin-bottom: 2rem;
    }
    
    &--main {
        width: 45rem;
        padding-right: 2rem;
    }

    &--second {
        margin-bottom: 1rem;
    }

    &--footer {
        font-size: 1.2rem;
        font-family: 'Lato', sans-serif;
        letter-spacing: .1rem;  
    }
}

.paragraph__section:not(:last-child) {
    display: inline-block;
    margin-bottom: 2rem;
}

.card__text {
    font-family: 'Lato', sans-serif;
}
