//COLORS

$color-primary: #7e7e7e;
$color-grey-primary-dark: #444444;
$color-grey-primary-light: #fafafa;
$color-white: #fff;
$color-pink-light: #FEE4D3;


//TYPOGRAPHY

$weight-regular: 400;
$weight-bold: 700;

$font-Frank: 'Frank Ruhl Libre', serif;
$font-lato: 'Lato', sans-serif;

$font-xs: 1rem;
$font-s: 1.6rem;
$font-m: 2rem;

//SPACE

$space-xs: .5rem; 
$space-s: 1rem;
$space-m: 2rem;
$space-l: 3rem;
$space-xl: 4rem;

//Z-INDEX

$z-index-nav: 500;
$z-index-popup: 1000;
$z-index-popup-phone: 1500;
$z-index-header-img-bg: -100;

